#gameboard{
    border-style:none;
}

#gameboard tr td{
    width:100px;
    height:100px;
    text-align:center;
    border:1px solid #a1a1a1;

}

#gameboard
{
    margin: auto;
}

.cell {
    background:url('../images/mexicain.jpg');
}

.cell:hover
{
    cursor: url('../images/gun.gif'), pointer;
}

.cell-white {
    background-color:#FFFFFF;
    transition: all 0.2s ease-in-out;
}

button{
    font-size: 120%;
    padding: 10px;
    width: 150px;
    margin-top: 20px;
}

body
{
    font-family: "Gill Sans MT";
}

#response
{
    font-size: 2em;
}