#affichage
{
   margin-top: 5.5%;
}

#donald
{
    margin-left: 60%;
    position: fixed;
    bottom:0;
}
#quote
{
    font-family: "Gill Sans MT";
    font-size: 1.5em;
}

.guill
{
    height: 10%;
    width: 4%;
}

.guill#guill-droite
{
    margin-left: 88%
}

#citation
{
    width: 40%;
    margin-left:17%;
    height: 20%
}


